[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
beautifulsoup4 = "*"
numpy = "*"
matplotlib = "*"
requests = "*"

[dev-packages]
pylint = "*"
yapf = "*"
mypy = "*"
types-requests = "*"

[requires]
python_version = "3.10"
