[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
beautifulsoup4 = "*"
numpy = "*"
matplotlib = "*"

[dev-packages]
pylint = "*"
yapf = "*"
mypy = "*"

[requires]
python_version = "3.9"
